# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Database
db.sqlite3

# Environment / secrets
.env

# Media / uploads
media/
protected_media/
identity_docs/
order_documents/
additional_documents/
customer_avatars/
forwarder_logos/
tickets/attachments/

# OS
.DS_Store

# Django static collect (اگر داری)
staticfiles/

# IDE
.vscode/
.idea/

# Logs
*.log

# ERD / generated diagrams
erd.*
*.png
*.svg