{% load jformat %}

{% for ticket in tickets %}
  <tr class="{% if ticket.unread_for_user %}ticket-unread{% endif %}">
    <td>#{{ ticket.number }}</td>

    <td>
      <strong>{{ ticket.subject }}</strong>
    </td>

    <td>{{ ticket.department.name }}</td>

    <td>
      <span class="status-badge
            {% if ticket.status == 'open' %}
          
          
          
          
          
                status-open





        {% elif ticket.status == 'answered' %}
          
          
          
          
          
                status-answered





        {% else %}
          
          
          
          
          
                status-closed





        {% endif %}">
        {{ ticket.get_status_display }}
      </span>
    </td>

    <td>{{ ticket.updated_at|jformat:'%Y/%m/%d - %H:%M' }}</td>

    <!-- در ردیف جدول -->
    <td>
      <a href="{% url 'customer_support:ticket_detail' ticket.id %}" class="btn-view">مشاهده</a>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center text-muted py-4">تیکتی یافت نشد</td>
  </tr>
{% endfor %}
